<section>
	AIPEは、最新の技術だけでなく、昔ながらの伝統的な農業技術を大切にしています。創業当初から、AIPEは以下のような古くからの技術や手法を活用してきました。
	<div class="ps-5 lg:ps-10 pt-10">
		<p class="pb-10 leading-6">
			<strong>1. 自然農法の導入<br /></strong
			>AIPEは、自然の力を最大限に活用する自然農法を取り入れています。化学的な肥料や農薬に頼らず、土壌の健康を保ちながら作物を育てることに重点を置いています。
		</p>

		<p class="pb-10 leading-6">
			<strong>2. 季節の変化に合わせた栽培<br /></strong>
			AIPEの農家は、季節ごとの気候や環境の変化に合わせて栽培計画を立てています。春や秋などの季節ごとに最適な作物を選び、栽培を行うことで、作物の生育を最大限に引き出しています。
		</p>

		<p class="pb-10 leading-6">
			<strong>3. 手作業による管理<br /></strong>
			AIPEでは、作物の管理や収穫などの作業を手作業で行うことを重視しています。これにより、作物への細やかなケアや品質管理が可能となり、高品質な作物の生産を実現しています。
		</p>

		<p class="pb-10 leading-6">
			<strong>4. 伝統的な品種の保護<br /></strong>
			AIPEは、伝統的な品種や地域特有の作物を保護し、育てることにも力を入れています。これにより、地域の文化や食文化を支えるだけでなく、多様性を保つための取り組みを行っています。
		</p>
	</div>
	AIPEはこれらの伝統的な農業技術を大切にしながら、持続可能な農業の実現を目指しています。最新技術だけでなく、過去からの知恵や経験を活かし、地域社会とのつながりを築きながら活動しています。
</section>
