<section>
	<p class="pb-6">
		カムカム（学名:Myrciaria
		dubia）は、南アメリカのアマゾン川流域に自生する果実で、その高い栄養価と健康効果で注目されています。カムカムは小さな赤い実を持ち、ビタミンCやポリフェノール、アンチオキシダントなどが豊富に含まれており、健康に良い食材として知られています。
	</p>

	<p class="pb-6">
		当店では、アマゾン川流域で栽培されたカムカムを厳選し、新鮮な状態でお届けしています。私たちのカムカムは、自然の恵みを活かしながら持続可能な農法で育てられており、品質と安全性にこだわりました。お客様に安心してお召し上がりいただける製品を提供しています。
	</p>
	<p class="pb-6">カムカムの特長は次の通りです：</p>
	<div class="ps-7">
		<p class="pb-6">
			<strong>1. ビタミンC豊富:<br /></strong
			>カムカムにはレモンの約40倍ものビタミンCが含まれており、免疫力を高める効果が期待できます。
		</p>

		<p class="pb-6">
			<strong>2. ポリフェノールとアンチオキシダント:<br /></strong>
			カムカムにはポリフェノールやアンチオキシダントが豊富に含まれており、細胞の老化を防ぎ、健康をサポートします。
		</p>
		<p class="pb-6">
			<strong>3. 消化促進:<br /></strong>
			カムカムに含まれる食物繊維が消化を促進し、腸内環境を整えます。
		</p>
	</div>
	<p class="pb-6">
		カムカムは生食やジュース、スムージーなど様々な料理や飲み物に活用できます。その酸味と爽やかな味わいは、多くの料理にアクセントを加えます。健康を意識する方や美容に関心のある方にもおすすめの食材です。ぜひ、私たちのカムカムをご賞味ください。
	</p>
</section>
