<section>
	<p class="pb-6">
		ピラルク（学名:Arapaima
		gigas）は、南アメリカのアマゾン川流域に生息する大型の淡水魚です。その巨大な体躯と美味しい肉質で知られ、食用として広く愛されています。ピラルクは栄養価が高く、豊富なタンパク質やミネラルを含んでおり、健康的な食事に最適な食材です。
	</p>
	<p class="pb-6">
		当店では、厳選されたアマゾン川流域で養殖されたピラルクを直接お届けしています。私たちのピラルクは、自然環境で育った魚の特徴を生かしながら、管理された環境で健康的に育てられています。安全性と品質にこだわり、最高水準の飼育と加工を行い、お客様に安心してお召し上がりいただける製品を提供しています。
	</p>
	<p class="pb-6">ピラルクの特長は次の通りです：</p>
	<div class="ps-7">
		<p class="pb-6">
			<strong>1. 優れた栄養価 :<br /></strong
			>ピラルクは高タンパク質で低脂肪な食材です。ビタミンやミネラルも豊富に含まれており、バランスの取れた食事に最適です。
		</p>

		<p class="pb-6">
			<strong>2. 絶妙な味わい:<br /></strong>
			ピラルクの肉は柔らかく、上質な味わいが特徴です。独特の風味と食感が料理をより一層引き立てます。
		</p>
		<p class="pb-6">
			<strong>3. 持続可能な養殖:<br /></strong>
			私たちのピラルクは、持続可能な養殖方法によって育てられています。環境に配慮しながら、地域の経済と生態系を守る取り組みを支援しています。
		</p>
	</div>
	<p class="pb-6">
		ピラルクは多彩な料理に活用でき、焼き魚やシチュー、刺身など様々な料理において美味しさを発揮します。健康志向の方やグルメな方にもおすすめの食材です。ぜひ、私たちのピラルクをご賞味ください。
	</p>
</section>
