---
import Navbar from "../components/home/Navbar.astro";
import Layout from "../layouts/Layout.astro";

interface Props {
	isBackGroundImage?: boolean;
}

const { isBackGroundImage = true } = Astro.props;
---

<Layout title="お問合せ">
	<Navbar isBackGroundImage />
	<div class="container-lg m-2 bg-neutral-100">
		<div class="py-14">
			<h1 class="text-2xl font-semibold text-center text-gray-800">
				お問い合わせフォーム
			</h1>
		</div>
		<div class="flex justify-center pb-20">
			<form
				action="https://ssl.form-mailer.jp/fm/service/Forms/confirm"
				method="POST"
				class="max-w-md mx-2"
				name="form1"
				accept-charset="UTF-8"
			>
				<input type="hidden" name="key" value="ba8a40aa824610" />
				<input type="hidden" name="code" value="utf8" />

				<div class="mb-4">
					<label for="name" class="block mb-1"
						>お名前: <span
							class="bg-red-100 text-red-800 text-xs px-2 rounded-full"
							>必須</span
						></label
					>
					<input
						type="text"
						id="name"
						name="field_7205445_sei"
						required
						class="w-full border border-gray-300 rounded-md py-2 px-3"
					/>
				</div>

				<div class="mb-4">
					<label for="email" class="block mb-2"
						>メールアドレス: <span
							class="bg-red-100 text-red-800 text-xs px-2 rounded-full"
							>必須</span
						></label
					>
					<input
						type="email"
						id="email"
						name="field_7205446"
						required
						class="w-full border border-gray-300 rounded-md py-2 px-3"
					/>
				</div>

				<div class="mb-4">
					<label for="name" class="block mb-2"
						>会社名: <span class="bg-gray-300 text-xs px-2 rounded-full"
							>任意</span
						></label
					>
					<input
						type="text"
						id="companyName"
						name="field_7205465"
						class="w-full border border-gray-300 rounded-md py-2 px-3"
					/>
				</div>
				<div class="mb-4">
					<label for="name" class="block mb-2"
						>連絡先: <span class="bg-gray-300 text-xs px-2 rounded-full"
							>任意</span
						></label
					>
					<input
						type="text"
						id="phoneNumber"
						name="field_7205496"
						class="w-full border border-gray-300 rounded-md py-2 px-3"
					/>
				</div>

				<div class="mb-4">
					<label for="message" class="block mb-2"
						>お問い合わせ内容: <span
							class="bg-red-100 text-red-800 text-xs px-2 rounded-full"
							>必須</span
						></label
					>
					<textarea
						id="message"
						name="field_7205453"
						rows="6"
						cols="50"
						required
						class="w-full border border-gray-300 rounded-md py-2 px-3"
					></textarea>
				</div>

				<button
					type="submit"
					class="bg-orange-950 hover:bg-orange-800 text-white font-semibold py-2 px-4 rounded-md"
					>確認</button
				>
			</form>
		</div>
	</div>
</Layout>
