---
import Layout from "../layouts/Layout.astro";
import ToTheDark from "../components/home/ToTheDark.astro";
import PrincipalContents from "../components/home/PrincipalContents.astro";
import Navbar from "../components/home/Navbar.astro";
import CompanyIntro from "../components/home/CompanyIntro.astro";
---

<Layout title="ホーム">
	<div class="relative bg-black m-2">
		<img class="md:hidden opacity-80" src="/images/farm-sunset.jpeg" alt="" />
		<img class="md:block hidden opacity-80" src="/images/sunset.jpeg" alt="" />
		<div class="absolute top-0 right-0">
			<Navbar />
		</div>
	</div>
	<div class="container-lg m-2 bg-neutral-100 py-16 text-center">
		<h4 class="text-md font-semibold">〜 ようこそ 〜</h4>
		<h1 class="text-gray-950 text-5xl font-semibold">AIPE農場</h1>
		<h2
			class="lg:text-3xl text-2xl mt-11 mb-2 text-orange-900 text-opacity-50 italic"
		>
			愛を込めて育てています
		</h2>
		<div class="lg:mx-auto md:mx-20 lg:max-w-[700px] text-gray-500 leading-7">
			<div class="m-3 text-left lg:text-lg">
				<CompanyIntro />
			</div>
		</div>
		<a
			href="/about"
			class="inline-block text-gray-500 border-orange-300 px-10 py-3 border hover:text-orange-300 text-sm"
			>もっと読む...</a
		>
	</div>

	<ToTheDark />

	<PrincipalContents />
</Layout>
