<section>
	<p class="pb-9">
		AIPE（アイペ）は、アマゾン川流域のジャングル地帯で広大な農場を運営している会社です。
	</p>
	<p class="pb-9 leading-6 text-center">
		<span class="md:text-lg text-sm text-gray-700 italic font-bold"
			>EMPRESA AGROINDUSTRIAL DEL PERU S.A.<br></span
		><span class="lg:text-base text-xs">正式名称</span>
	</p>
	<p class="pb-9">
		この農場は広さ170万㎡であり、東京ドーム46個分の広さに相当します。また、南緯8度という赤道付近の位置にあるため、「日本では想像できないようなパワーの太陽の光」と、アマゾン川流域の恩恵による「突出して肥沃な土壌」を最大限に利用しています。これにより、まさに桁違いの栄養素を有する農作物や世界最大の淡水魚の養殖などに取り組み、大きな成功を収めています。
	</p>
	<p class="pb-9">
		さらに、当地の農業・漁業を取り仕切っているのは、農業大学・大学院で農業工学を専攻した「農業のプロフェッショナルの日本人」であり、これまで20年以上にわたり現地の土地を愛し、現地の土地や気候を知り尽くしてきた当社の社長です。
	</p>
	<p class="pb-9">
		「太陽」・「土壌」・「農業のプロ」が揃った奇跡の農場であり、自然と大地を愛する農場として、私たちは強く自負しています。
	</p>
</section>
