---
import Navbar from "./Navbar.astro";
---

<div
	class="hidden lg:block h-screen bg-cover bg-no-repeat bg-fixed"
	style="background-image: url(/images/farm-sunset.jpeg);"
>
	<Navbar isBackGroundImage={false} />

	<div class="flex h-3/4 items-end justify-center text-white pb-5 md:p-0">
		<h4 class="text-xl font-semibold">〜 大農場へようこそ 〜</h4>
	</div>
	<div class="h-1/4 pt-5 md:pt-10">
		<div class="scroll-down-arrow text-center text-white text-sm font-thin">
			<h1>scroll</h1>
			<h2>↓</h2>
		</div>
	</div>
</div>

<div class="lg:hidden block bg-black" style="height:calc(100vh + 20vh)">
	<Navbar isBackGroundImage={false} />

	<div class="flex flex-col h-screen items-center justify-center">
		<h4 class="text-xl font-semibold text-white">〜 大農場へようこそ 〜</h4>
		<div class="h-1/4 pt-10 md:pt-20">
			<div class="scroll-down-arrow text-center text-white text-sm font-thin">
				<h1>scroll</h1>
				<h2>↓</h2>
			</div>
		</div>
	</div>

	<style>
		.scroll-down-arrow {
			animation: jumpInfinite 1.5s infinite;
		}

		@keyframes jumpInfinite {
			0% {
				padding-top: 0;
			}
			50% {
				padding-top: 20px;
			}
			100% {
				padding-top: 0;
			}
		}
	</style>
</div>
