<!-- NOTE! --><!-- IntroCompany.astroの"bg-opacity-75"も合わせる -->
<div
	class="h-[250px] bg-no-repeat bg-fixed bg-cover"
	style="background-image:url(/images/farm-sunset.jpeg);"
>
	<div class="h-full bg-gradient-to-b from-transparent to-black opacity-80">

	</div>
</div>
