<footer class="container-lg text-slate-500">
	<div class="flex flex-col md:flex-row gap-y-14 py-14">
		<!-- フッターのリンク集 -->
		<div class="flex mx-auto gap-20">
			<!-- サイトマップのリンク集 -->
			<div class="flex flex-col">
				<h3 class="font-bold text-lg text-slate-700">Site Map</h3>
				<div class="flex flex-col border-s text-sm gap-y-3 ps-2 mt-2">
					<a class="hover:text-orange-500 hover:italic" href="/">ホーム</a>
					<a class="hover:text-orange-500 hover:italic" href="/about"
						>私達について</a
					>
					<a class="hover:text-orange-500 hover:italic" href="/product"
						>商品一覧</a
					>
					<a class="hover:text-orange-500 hover:italic" href="/contact"
						>お問い合わせ</a
					>
				</div>
			</div>
			<!-- Languageのリンク集 -->
			<div class="flex flex-col">
				<h3 class="font-bold text-lg text-slate-700">Language</h3>
				<div class="flex flex-col border-s text-sm gap-y-3 ps-2 mt-2">
					<a href="#" class="hover:text-orange-500 hover:italic">English</a>
					<a href="#" class="hover:text-orange-500 hover:italic">Español</a>
					<a href="#" class="hover:text-orange-500 hover:italic">Português</a>
					<a href="#" class="hover:text-orange-500 hover:italic">日本語</a>
				</div>
			</div>
		</div>
		<!-- 農業省のログ -->
		<div class="flex justify-center items-center mx-auto">
			<img
				class="w-52"
				src="/images/logo-ministerio-agricultura-peru.png"
				alt="Ministerio de Desarrollo Agrario y Riego"
			/>
		</div>
	</div>
	<!-- Company copyright -->
	<div class="text-center my-10">
		<h6 class="text-xs">©︎ AIPE - All rights reserved</h6>
	</div>
</footer>
